main {
  padding-top: 5%;

  #horarios {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
    background-color: $colorA;
    opacity: 0.8;
  }

  #textoClases {
    text-align: center;
    background-color: $colorA;
    opacity: 0.8;
  }

  .mapaYTabla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // width: 100%;

    //mapa de google
    iframe {
      height: 100%;
      width: 60vh;

      @media (min-width: 0px) and (max-width: 1024px) {
        width: 90%;
        height: 50rem;
      }
    }

    .tabla {
      color: $secondary;
      border: "5px" $colorUno;
      text-transform: capitalize;
      background-color: $colorA;

      .titulosTabla {
        color: $colorA;
        background-color: $colorB;
        font-size: $tamañoTexto * 1.7;
        text-align: center;
      }

      th {
        padding: 1%;
      }

      td {
        padding: 1%;
        text-align: center;
      }
      .enumeracion {
        color: $colorDos;
        text-align: right;
      }
      @media (min-width: 390px) and (max-width: 518px) {
        font-size: $tamañoTexto * 0.8;
      }
      @media (min-width: 0px) and (max-width: 390px) {
        display: none;
      }
    }

    @media (min-width: 0px) and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}
