


.fotosDeCostado {
  // display: block;
  background-size: cover;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
}

.formularioContacto {
  border: darkviolet;
  text-align: center;
  display: block;
}

#grupos {
  display: block;
  color: $colorPrincipalTexto;
  background-image: url(../images/entrenamiento.JPG);
  grid-area: grupos;
}

#foto2 {
  display: block;
  background-image: url(../images/parqueRecortada.JPG);
  grid-area: foto2;
}

#form {
  grid-area: form;
}
