@import "variables";
@import "nosotres";
@import "clases";
@import "contacto";
@import "multimedia";
@import "index";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;

  body {
    background-color: $colorA;
    color: $secondary;

    .error {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-content: center;
    }

    .tituloError {
      font-size: $tamañoTexto * 4;
      align-self: center;
    }

    #logo {
      display: block;
      background-size: center;
      max-width: auto;

      @media (min-width: 0px) and (max-width: 636px) {
        display: none;
      }
    }

    .menuDesplegable {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: $colorUno;
      //menu fixed
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10000;
      background: linear-gradient(90deg, $colorDos 23%, $colorUno 74%);
      

      @media (min-width: 0px) and (max-width: 636px) {
        display: flex;
        position: inherit;
        flex-direction: column;
        justify-content: space-between;
      }

      ul{
        padding: 0%;
        margin: 0%;
        position: relative;

        @media (min-width: 0px) and (max-width: 636px) {
          display: flex;
          position: inherit;
          flex-direction: column;
          justify-content: space-between;
        }
      }

        .itemMenu {
          color: $secondary;
          float: left;
          text-align: center;
          padding: 5px 10px;
          vertical-align: middle;
          position: relative;

          a{
            display:block;
            text-decoration:none;
            text-transform:uppercase;
            letter-spacing:2px;
          }
        }
        .itemMenu:hover {
          background-color: $colorDeFondo;
          color: $colorB;
          transition: 0.2s;
        }

        .subLista {
          display: none;
          background-color: $colorA;
        }

        .itemSubMenu:hover > .subLista {
          display:inline-block;
        }
      
    }

    #seccionContacto{
      text-align: center;
    }

    .formularioContactoNuevo {
      display: flex;
      justify-content: center;
      background-color: $colorB;

      .formularioFinal {
        display: grid;
        padding: 1%;
        width: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 2px;
        grid-template-areas:
          "cajaNombre cajaApellido "
          "cajaEmail cajaGenero"
          "cajaTexto cajaTexto"
          "cajaEntrena cajaEntrena"
          "cajaEnviar cajaLimpiar";

        .cajaNombre {
          grid-area: cajaNombre;
          align-self: center;
          justify-self: center;
          width: auto;
        }

        .cajaApellido {
          grid-area: cajaApellido;
          align-self: center;
          justify-self: center;
          width: auto;
        }
        .cajaEmail {
          grid-area: cajaEmail;
          align-self: center;
          justify-self: center;
        }
        .cajaGenero {
          grid-area: cajaGenero;
          align-self: center;
          justify-self: center;
        }
        .cajaTexto {
          grid-area: cajaTexto;
          align-self: center;
          justify-self: center;
        }
        .cajaEntrena {
          grid-area: cajaEntrena;
          align-self: center;
          justify-self: center;
        }
        .cajaEnviar {
          grid-area: cajaEnviar;
          align-self: center;
          justify-self: center;
        }
        .cajaLimpiar {
          grid-area: cajaLimpiar;
          align-self: center;
          justify-self: center;
        }

        @media (min-width: 0px) and (max-width: 700px) {
          display: flex;
          flex-direction: column;
        }
      }
    }

    #regiaWeb {
      background: $colorDos;
      background: linear-gradient(90deg, $colorDos 23%, $colorUno 74%);
      color: $secondary;
      padding: 10px;
      text-align: right;
      bottom: 0;

      h5{
        margin-bottom: 0%;
      }
    }
  }
}
