//hoja de estilos para la página de videos

main{
  padding-top: 5%;


.rutinas{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: $tamañoTexto*2;
  background-color: $colorA;
  opacity: 0.8;
}
.padreVideoFlex {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;


  .videoHijo {
    margin: 10px;
  }

  h2{
    background-color: $colorA;
    opacity: 0.8;
  }
}
}