.rutinas{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: $tamañoTexto*2;
}
.padreVideoFlex {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .videoHijo {
    margin: 10px;
  }
}
