$colorPrincipalTexto: darkblue;
$colorDeFondo: #0c0436;

$colorA: #0C0436;
$colorB: #6F56EA;
$colorC: #3410E6;
$colorD: #302666;
$colorE: #280CB3;

$colorUno: #501269;
$colorDos: #84499C;


$primary: #0C0436;
$secondary: pink;
$danger: #ff8036;
$danger: #ff4136;
$colorFuentePrimaria: pink;

$tamañoTexto: 1rem;

